In [1]:
import os
from pyspark.sql import SparkSession
import pyspark.pandas as ps
import warnings
warnings.filterwarnings('ignore')

c:\ProgramData\miniconda3\envs\vscode\lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
symbol = 'EURUSD'
download_data_path=r'C:\Users\Administrador\Downloads'

In [2]:
spark = SparkSession.builder \
    .appName("MiAplicacion") \
    .config("spark.executor.memory", "15g") \
    .config("spark.driver.memory", "15g") \
    .getOrCreate()
ps.set_option('compute.default_index_type', 'distributed')

In [7]:
df = spark.read.csv(os.path.join(download_data_path, f'{symbol}.csv'), sep='\t', header=True, inferSchema=False)
df = df.to_pandas_on_spark()
df = df.iloc[:, :4].ffill().dropna()
df.head(10)

       <DATE>        <TIME>    <BID>    <ASK>
0  2018.01.25  13:04:10.121  13404.0  13404.7
1  2018.01.25  13:04:10.121  13403.5  13404.2
2  2018.01.25  13:04:10.332  13404.0  13404.7
3  2018.01.25  13:04:11.863  13403.5  13404.2
4  2018.01.25  13:04:44.038  13403.0  13403.7
5  2018.01.25  13:04:45.336  13402.0  13402.7
6  2018.01.25  13:04:45.367  13402.5  13403.2
7  2018.01.25  13:04:45.541  13403.0  13403.7
8  2018.01.25  13:04:47.212  13402.0  13402.7
9  2018.01.25  13:04:47.222  13403.0  13403.7

In [4]:
#df = df.repartition(4)
df.to_csv(os.path.join(download_data_path, symbol), sep=',', index=False)
spark.stop()