In [202]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [203]:
def load_xls_report(filename):
    data = pd.read_excel(filename, header=None)
    start_index = data[data.iloc[:, 0]=='Transacciones'].index[0]
    end_index = data.iloc[start_index:, 0].isna().idxmax()
    columns = data.iloc[start_index+1].tolist()
    data = data.iloc[start_index+3:end_index-1,:]
    data.columns = columns
    resultados = []
    for i in range(0, len(data) - 1, 2):
        fila_in = data.iloc[i]
        fila_out = data.iloc[i + 1]
        if fila_in['Dirección'] == 'in' and fila_out['Dirección'] == 'out':
            precio_entrada = fila_in['Precio']
            precio_salida = fila_out['Precio']
            resultados.append({
                'Símbolo': fila_in['Símbolo'],
                'Precio Entrada': precio_entrada,
                'Precio Salida': precio_salida,
                'Volumen': fila_in['Volumen '],
                'Beneficio': fila_out['Beneficio'] - fila_in['Comisión'] - fila_out['Comisión']
            })
    return pd.DataFrame(resultados)

In [204]:
filename='ReportTester-4000009439.xlsx'
df = load_xls_report(filename)
df.head()

  Símbolo  Precio Entrada  Precio Salida Volumen  Beneficio
0   GDAXI         15920.8        15882.6    0.07      27.12
1   GDAXI         15877.3        15878.1    0.07      -0.18
2   GDAXI         15874.3        15873.6    0.07       0.87
3   GDAXI         15882.3        15873.6    0.07       6.47
4   GDAXI         15882.3        15878.6    0.07       2.97

In [205]:
def expected_payoff(df):
    profit_trades = df[df['Beneficio'] > 0].shape[0]
    profit_avg = df[df['Beneficio']>0]['Beneficio'].mean()
    loss_trades = df[df['Beneficio'] < 0].shape[0]
    loss_avg = df[df['Beneficio']<0]['Beneficio'].mean()
    beneficio_neto  = (profit_avg*profit_trades)+(loss_avg*loss_trades)
    total_trades = profit_trades + loss_trades
    expected_profit = beneficio_neto / total_trades
    return expected_profit

In [206]:
print(f"Rentabilidad esperada: {expected_payoff(df):.2f}")

Rentabilidad esperada: -0.06

In [209]:
print(f"Número de operaciones: {df.shape[0]}")

Número de operaciones: 13955